<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - AI Fraud Detection</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <header>
        <button class="back-button" onclick="goBack()">← Back</button>
        <h1>Contact Us</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="PHISHING.html">Phishing Detection</a>
            <a href="AIchecker.html">AI Doc Check</a>
            <a href="research.html"a>Research Assistant</a>
            <a href="about.html">About</a>
          </nav>
          
    </header>

    <section class="contact-info">
        <h2>Contact our team lead</h2>
        <p>If you have any questions, suggestions, or concerns, feel free to reach out to us.</p>
        
        <div class="contact-details">
            <p><strong>📧 Email:</strong> <a href="ayushsinha40863@gmail.com">contact-ayush@aifraud.com</a></p>
            <p><strong>📧 alt-Email:</strong><a herf= "suhanakaushik005@yahoo.com">contact-suhana@aifraud.com</a></p>
            <p><strong>📞 Phone:</strong> +91-9516486334</p>
            <p><strong>📞 alt-Phone:</strong> +91-7828527258</p
            <p><strong>📍 Address:</strong> Manipal University Jaipur, Dahmi Kalan,302007</p>
        </div>
    </section>

    <section class="contact-form">
        <h2>Query Box : </h2>
        <form id="contactForm">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter your Name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your Email" required>
            
            <label for="query">Message:</label>
            <textarea id="query" rows="4" placeholder="Enter your Query" required></textarea>
            
            <button type="submit">Send Message</button>
        </form>
    </section>

    <footer>
        <p>© 2025 AI Fraud Detection | Contact us for any queries</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
